  body {
    margin: 0;
    padding: 20px;
  }
    
  .canvas_title {
    margin-top: 0;
    margin-left: 5px;
    margin-bottom: 20px;
    font-size: 14px;
    letter-spacing: 1px;
    color: #333;
    padding-bottom: 10px;
    border-bottom: 1px solid #dadada;
  }

  

  
